{% extends "base.html" %}
{% block content %}
<div class="container mt-5 mb-5">
    <h3 class="mb-3">Les principaux acteurs de Hestage</h3>
    <div class="row">
        <div class="col-lg-4">
            <div class="card shadow" style="width: 18rem;">
                <img src="https://static.vecteezy.com/ti/vecteur-libre/p1/3089486-etudiant-posant-vectoriel.jpg" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                  <h5 class="card-title">ETUDIANTS</h5>
                  <p class="card-text">Personne effectuant le stage pour acquérir de l'expérience dans son domaine d'études pour pouvoir dévéloper ses compétences.
                </p>
                  <a href="#" class="btn btn-warning">En savoir plus</a>
                  <a href="#" class="btn btn-success">Voir</a>
                </div>
              </div>
        </div>

        <div class="col-lg-4">
            <div class="card shadow" style="width: 18rem;">
                <img src="https://static.vecteezy.com/ti/vecteur-libre/p1/20750375-conception-d-icone-de-vecteur-d-entreprise-gratuit-vectoriel.jpg" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                  <h5 class="card-title">ENTREPRISES</h5>
                  <p class="card-text">Entité qui propose le stage et fournit des tâches et des projets spécifiques à réaliser, ainsi que des ressources et du matériel</p>
                  <a href="#" class="btn btn-warning">En savoir plus</a>
                  <a href="#" class="btn btn-success">Voir</a>
                </div>
              </div>
        </div>

        <div class="col-lg-4">
            <div class="card shadow" style="width: 18rem;">
                <img src="https://c8.alamy.com/compfr/2e3tttj/illustration-du-vecteur-du-concept-abstrait-du-stage-2e3tttj.jpg" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                  <h5 class="card-title">ENCADRANT</h5>
                  <p class="card-text">Professeur ou enseignant qui guide l'étudiant pendant son stage et fournit des commentaires sur son travail.</p>
                  <a href="#" class="btn btn-warning">En savoir plus</a>
                  <a href="#" class="btn btn-success">Voir</a>
                </div>
              </div>
        </div>
    </div>

    
</div>

{% endblock %}