{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-lg-6 shadow p-4">
            <h3>Enregistrement d'un administrateur</h3>
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control" id="nom" name="nom" required>
                </div>
                <div class="form-group">
                    <label for="prenom">Prenom</label>
                    <input type="text" class="form-control" id="prenom" name="prenom" required>
                </div>
                <div class="form-group">
                    <label for="adressemail">Adresse Email</label>
                    <input type="email" class="form-control" id="adressemail" name="adressemail" aria-describedby="emailHelp" required>
                    <small id="emailHelp" class="form-text text-muted">Nous n'allons jamais partager votre email.</small>
                </div>
                <div class="form-group">
                    <label for="poste">Poste</label>
                    <input type="text" class="form-control" id="poste" name="poste" required>
                </div>
                <div class="form-group">
                    <label for="numtel">Numéro de téléphone</label>
                    <input type="tel" class="form-control" id="numtel" name="numtel" required>
                </div>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </form>
        </div>
        <div class="col-lg-6">
            <img src="https://static.vecteezy.com/ti/vecteur-libre/p1/9352697-administrateur-illustration-concept-sur-fond-blanc-vectoriel.jpg" alt=""  width="800" height="800">
        </div>
    </div>

</div>
{% endblock %}